*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary-color: rgba(204, 49, 45, 1);
    --secondary-color: rgba(229, 48, 63, 0.1);
    --text-color: rgba(26, 24, 20, 1);
    --secondary-text-color: rgba(20, 20, 20, 0.4);
    --bg-color: rgba(247, 247, 247, 1);
    --primary-border-color: rgba(235, 235, 235, 1);
    --secondary-border-color: rgba(230, 230, 230, 1);
    --icon-size: 40px;

}

html {
    font-size: 62.5%;
}

body {
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.8;
}

h5 {
    font-size: 2.2rem;
    font-weight: 700;
}

h6 {
    font-size: 1.6rem;
    font-weight: 700;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 1.5rem;
}

/* INFORMATION PANEL */

.info {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid var(--primary-border-color);
    border-radius: 20px;
    padding: 3.4rem 0;
}


@media screen and (min-width:1024px) {
    .info {
        grid-template-columns: 7fr 4fr;
    }

}

.info-delivery {
    padding: 0 2.4rem;
}

.info__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid var(--primary-border-color);
    padding-bottom: 2rem;

}

.info-delivery .info__header span {
    font-size: 2rem;
    font-weight: 400;

}

/* USER INFORMATION */

.info__user {
    padding-bottom: 3rem;
}

.info__user h6 {
    padding: 1.5rem 0;
}

.info__user form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media screen and (min-width:768px) {
    .info__user form {
        grid-template-columns: repeat(2, 1fr);
        /* gap: 2rem; */
    }
}

.info__user .form-control {
    display: flex;
    flex-direction: column;

}

.info__user input {
    outline: 0;
    border: 1px solid var(--bg-color);
    padding: 1rem 1.6rem;
    border-radius: 40px;
    background-color: var(--bg-color);

}



.info__user input:focus {
    outline: 0;
    border: 1px solid var(--primary-color);
}

.info__user label {
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
    display: block;
}

/* ADDRESS */

.info__address {
    padding-bottom: 4rem;
}

.address__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.address__header span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 32px;
    padding: 0.5rem 1.5rem;
    color: var(--primary-color);
    transition: all 0.4s ease-out;
}

.address__header span:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}


.info__address form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media screen and (min-width:768px) {
    .info__address form {
        grid-template-columns: repeat(2, 1fr);
    }
}

.info__address .form-control {
    display: flex;
    flex-direction: column;
}

.info__address input {
    outline: 0;
    border: 1px solid var(--bg-color);
    padding: 1rem 1.6rem;
    border-radius: 40px;
    background-color: var(--bg-color);
}



.info__address input:focus {
    outline: 0;
    border: 1px solid var(--primary-color);
}

.info__address label {
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
    display: block;
}

.info__address .form-control select {
    outline: 0;
    border: 1px solid var(--bg-color);
    padding: 1rem 1.6rem;
    border-radius: 40px;
    background-color: var(--bg-color);
}

.info__address .form-control select:focus {
    border: 1px solid var(--primary-color);
}


.info__address textarea {
    background-color: var(--bg-color);
    border: none;
    resize: none;
    border-radius: 12px;
    padding: 1.5rem;
    overflow: hidden;
}

.info__address textarea:focus {
    outline: 0;
    border: 1px solid var(--primary-color);
}

@media screen and (min-width:768px) {
    .info__address .textarea {
        grid-column: 1/-1;
    }
}

/* SHIPPING OPTIONS */

.shipping__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--primary-border-color);

}

.shipping__header .title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.shipping__header .title h5 {
    font-size: 2.1rem;
    font-weight: 600;
}



.shipping__header .title span {
    font-size: 1.8rem;
    font-weight: 400;
}

.shipping__header .badge {
    font-size: 1.4rem;
    border-radius: 32px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 0.8rem 1.6rem;
}


.shipping__options {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
    gap: 2rem;
}

@media screen and (min-width:768px) {
    .shipping__options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


.shipping__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--bg-color);
    border-radius: 40px;
    padding: 1rem 1.5rem;

}

.shipping__option .select-control input[type="radio"] {
    display: none;
}

.shipping__option .select-control label {
    position: relative;
    padding-right: 2.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.shipping__option .shipping__price {
    font-size: 1.4rem;
    font-weight: 600;
}

.shipping__option .shipping__price span {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(96, 96, 96, 1);
}

.shipping__option .select-control label::before {
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0;
    top: 50%;
    border-radius: 5px;
    transform: translateY(-50%);
    display: inline-block;
    background-color: rgba(124, 127, 132, 0);
    border: 1px solid rgba(124, 127, 132, 0.5);
}

/* DASHBOARD */

.info .dashboard {
    background-color: var(--bg-color);
    margin: 0 2.4rem;
    padding: 1.5rem;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;


}

@media screen and (max-width:1023px) {
    .info .dashboard {
        display: none;
    }
}

.dashboard__item {
    display: flex;
    padding: 2rem 0;
}

.dashboard__item:not(:last-of-type) {
    border-bottom: 1px solid var(--secondary-border-color);
}

.dashboard__item .item__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 12px;
    background-color: white;
}

.dashboard__item .item__image img {
    width: 60px;
    height: 60px;
}

.dashboard__item .item__details {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

}

.item__details .item__header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.item__details .item__header h6 {
    font-size: 1.4rem;
}

.item__details.item__header span {
    font-size: 1.6rem;
}

.item__details .item__name {
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 2rem;
}

.item__options .item__price {
    font-size: 1.8rem;
    font-weight: 600;
}

.item__options .item__price span {
    font-size: 1rem;
    font-weight: 400;
}

/* ICONS */
.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon--primary {
    background-color: white;
}

.icon--secondary {
    background-color: var(--bg-color);
    border: 1px solid rgba(230, 230, 230, 1);
}

.dashboard .item__options {
    display: flex;
    align-items: center;
    gap: 0.3rem;

}

.dashboard .item__options .icon {
    cursor: pointer;
}

.dashboard__pay {
    background-color: #fff;
    border-radius: 12px;
    padding: 1.5rem;
}

.dashboard__pay .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.dashboard__pay .title {
    font-size: 1.4rem;
    font-weight: 400;
}

.dashboard__pay .price {
    font-size: 1.6rem;
    color: var(--secondary-text-color);
}

.delivery-pay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--primary-border-color);
}

.dashboard__pay .final-pay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}

.dashboard__pay .final-pay .title {
    font-size: 1.4rem;
    font-weight: 600;
}

.dashboard__pay .final-pay .price {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

.dashboard__pay .final-pay .price span {
    font-size: 1.6rem;
    color: var(--secondary-text-color);
}

.dashboard__securepay {
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 12px;
    padding: 1.6rem 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard__securepay .description {
    font-size: 1.5rem;

}

.dashboard__securepay .description span {
    font-weight: 600;
}

/* BUTTON */

.btn {
    cursor: pointer;
    outline: 0;
    border: 0;
    border-radius: 44px;
    padding: 1rem 2rem;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    margin-top: 3rem;

}

.btn--primary {
    background-color: var(--primary-color);
    color: #fff;
}

.btn--secondary {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.btn-options {
    display: none;
    
}

@media screen and (max-width:1023px) {
    .btn-options {
        display: block;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 1rem;
    }
}